<a href="https://colab.research.google.com/github/nandhnahhhh/BASIC-PYTHON-FOR-ML/blob/main/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRODUCTION TO `PYTHON`

FIRST PROGRAM DISPLAYS A HELLO

In [1]:
print("HELLO")

HELLO

>program to assign an integer and display it.

In [2]:
a=10
print(a)

10

In [3]:
a=4
print("a=",10)

a= 10

>program to find sum of two numbers

In [5]:
a=2
b=10
sum=a+b
print("sum=",sum)

sum= 12

>Read input from the user

In [7]:
a=int(input("enter first number : "))
b=int(input("enter second number :"))
print("sum=",a+b)

enter first number : 4
enter second number :6
sum= 10